form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 5px;
}

input {
    padding: 10px;
    outline: none;
    border: none;
    font-size: 14px;
    border-radius: 4px;
}

.todo-task {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.todo-task__text {
    flex: 1;
}

.todo-deadline {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.todo-deadline input {
    font-size: 12px;
    width: 12%;
}

button {
    padding: 10px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #009a00;
    color: #DDDDDDED;
    font-weight: bold;
}